@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
    text-align: center;
    width: 100%;
    background-color: rgb(18, 35, 68);
}
h1 {
    font-size: 6em;
    color: #E3A55F;
}
#player1, #player2 {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 20px 0 20px;
    padding: 10px 20px 10px 20px;
    border: solid 1px black;
    border-radius: 8px;
}
#player1 {
    background-color: rgb(164, 201, 164);
}
#player2 {
    background-color: rgb(219, 144, 144);
}
#container {
    display: grid;
    grid-gap: 15px 15px;
    width: 480px;
    height: 480px;
    grid-template-columns: repeat(3, auto);
    background-color: #E3A55F;
    margin: 50px auto 0 auto;
}
.box {
    font-size: 7em;
    text-align: center;
    line-height: 150px;
    width: 150px;
    height: 150px;
    color: #56709c;
    background-color: rgb(18, 35, 68);
    font-family: 'Fredoka One', cursive;  
}
.box:hover {
    background-color: rgb(30, 47, 80);
    box-shadow: 0 0 20px 20px rgb(18, 35, 68) inset;

}
#counter {
    color: white;
    font-size: 2em;
    margin: 30px;
    height: 2em;
}
#playerTurn {
    color: white;
    font-size: 2em;
    height: 2em;
}
#playAgain {
    margin-top: 40px;
    padding: 10px 30px 10px 30px;
    font-size: 1.3em;
}